{% extends 'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'add.css' %}">
{% endblock head %}


{% block content %}

{% if user.is_authenticated %}

<form method="post", action="{% url 'add' %}">
{% csrf_token %}
{% for field in form  %}
{{field.label_tag}}

<br>
<div class="form">
{{field}}
</div>
<br>
{% endfor %}

<button class="button", type="submit">Добавить дело</button>

</form>
{% else %}
<h3>Зарегестрируйтесь или войдите</h3>
{% endif %}


{% endblock content %}