{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'affairs.css' %}">
{% endblock head %}

{% block content %}

{% if user.is_authenticated %}

{% for object in data %}
<div class="affair">

    <div>
    <h3>{{object.name}}</h3>
    <p>{{object.description}}</p>
    </div>
    <div class="button">
    <button onclick="document.location.href='/delete/{{object.id}}' ">Завершить</button>
    </div>
</div>

<br>
{% endfor %}
{% else %}
<h3>Зарегестрируйтесь или войдите</h3>
{% endif %}
{% endblock content %}