<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="">Дела</a></li>
            <li><a href="{% url 'add' %}">Добавить дело</a></li>
            <li><a href="{% url 'registration' %}">регистрация</a></li>
            <li><a href="{% url 'login' %}">войти</a></li>
            <li><a href="">выйти</a></li>
        </ul>


    </div>

    {% block content %}{% endblock content %}
</body>
</html>