.reg {
    margin-top: 10px;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    max-height: 800px;
    background-color: #a495fc;
    margin-left: 500px;
}
.but {
    margin-bottom: 10px;
    height: 30px;
    width: 160px;
    border-radius: 10px;
    background-color: #fb984c;
}
input {
    height: 20px;
    width: 150px;
    border-radius: 5px;
}
